@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #0a0a0a;
    font-family: 'Josefin Sans', sans-serif;
}

.menu{
    background-color: #272727;
    margin-bottom: 70px;
    box-shadow: 0px 0px 6px #f9c301;
    height:80px;
    padding: 0 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu div{
    width: 250px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.menu h1{
    font-size: 40px;
    font-family: 'Josefin Sans', sans-serif;
    color: #f9c301;
}

.menu img{
    width: 50px;
}

.menu ul{
    width: 200px;
    display: flex;
    justify-content: space-around;
}

.menu li{
    list-style: none;
}

.menu a{
    color: #fff;
    text-decoration: none;
    font-size: 20px;
}

#loginRegister{
    padding: 10px 15px;
    border-radius: 5px;
    background:linear-gradient(to bottom, #f9c301,#663399 );
    color: #0a0a0a;
    cursor: pointer;
}

.Home{
    padding: 5px;
}

.Home:hover{
    border-bottom: 2px solid #f9c301;
}

.menu .movies{
    border-bottom: 2px solid #f9c301;
}

.menu .signOff:hover{
    border-bottom: 2px solid #8344c2;
}

form{
    position: relative;
    background: #272727;
    color: #fff;
    width: 600px;
    height: 480px;
    margin: 0 auto 20px;
    padding: 50px 100px 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
}

form h2{
    text-align: center;
    color: #f9c301;
    font-size: 45px;
    margin-bottom: 25px;
    font-family: 'Josefin Sans', sans-serif;
}

form section{
    text-align: center;
}

form section div{
    display: flex;
}

#cvv{
    width: 100px;
    margin: 0 20px 0 0;
}

#date{
    width: 180px;
    margin: 0 20px 0 0;
}

form input{
    display: block;
    height: 35px;
    width: 300px;
    margin: 20px 0;
    padding: 0 15px;
    border-radius: 5px;
    border: none;
    font-size: 18px;
    font-family: 'Josefin Sans', sans-serif;
    box-shadow: 0px 4px 0 #c2c2c2;
    color: #0a0a0a;
    outline: none;
}

form input::placeholder{
    color: #a8a7a7;
    font-size: 18px;
}

form button{
    margin-top: 40px;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 17px;
    padding: 5px 30px;
    border: 2px solid #663399;
    background-color: #663399;
    box-shadow: 0px 4px 0 #2e0d4e;
    border-radius: 5px;
    cursor: pointer;
    transition: .5s ease color, box-shadow;
}

form button:hover{
    color: #fff;
    box-shadow: 0px 4px 10px #170429;
}


input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
    -webkit-appearance: none; 
    margin: 0; 
}

input[type=number] { -moz-appearance:textfield; }